.carousel-wrapper {
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
}

.carousel-heading {
    font-weight: bold;
    border-bottom: 1px solid #aaaaaa;
    line-height: 3rem;
}

.carousel-nav-wrapper {
    margin: 1rem;
}

.carousel-nav-wrapper a {
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.carousel-wrapper a > img {
    transform: scale(.6, .6);
}

.carousel-wrapper a.nav-arrow {
    background: #cfcfcf;
    border-radius: 50%;
}