<div class="carousel-wrapper">
  <div class="carousel-heading">{{carouselTitle}}</div>
  <div class="carousel-nav-wrapper d-flex justify-content-end align-items-center">
    <a href="#">View all</a>
    <a href="#" class="nav-arrow"><img src="../../assets/left.png" alt=""></a>
    <a href="#" class="nav-arrow"><img src="../../assets/right.png" alt=""></a>
  </div>
  <div class="book-cards-collection d-flex">
    <app-clientbookcard bookTitle="The Journal: Cracked Earth: (The Journal Book 1)" author="Deborah D. Moore"
      bookCategory="Journals" bookImageUrl="../../assets/book-the-journal.png"></app-clientbookcard>
    <app-clientbookcard bookTitle="The Magdalene: Volume II of the O Manuscript (The O Manuscript Book 2)" author="Lars Muhi"
      bookCategory="Manuscript" bookImageUrl="../../assets/book-the-magdalene.png"></app-clientbookcard>
    <app-clientbookcard bookTitle="The Manuscript: A Gripping Suspense Novel" author="Nathan Hystad"
      bookCategory="Manuscript" bookImageUrl="../../assets/book-the-manuscript.png"></app-clientbookcard>
    <app-clientbookcard bookTitle="The Mamba Mentality: How I Play" author="Kobe Bryant, Pau Gasol, et al."
      bookCategory="Sports" bookImageUrl="../../assets/book-the-mamba-mentality.png"></app-clientbookcard>
    <app-clientbookcard bookTitle="Life to the Fullest: A Story About Finding Your Purpose and Following Your Heart (Sports for the Soul Book 4)" author="Darrin Donnelly"
      bookCategory="Sports" bookImageUrl="../../assets/book-life-to-the-fullest.png"></app-clientbookcard>
    <app-clientbookcard bookTitle="Hacking Classroom Management: 10 Ideas To Help You Become the Type of Teacher They Make Movies About (Hack Learning Series Book 15)" author="Mike Roberts"
      bookCategory="Children" bookImageUrl="../../assets/book-hacking-classroom-management.png"></app-clientbookcard>
  </div>
</div>
