<div class="container-fluid p-0">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

          <!-- Top Menu Items -->
          <ul class="nav navbar-nav side-nav">
            <li>
              <a href="#" data-toggle="collapse" data-target="#submenu-1" ><i class="fa fa-fw fa-star"></i> <i
                  class="fa fa-fw fa-caret-down pull-right"></i> Define Basic Parameters </a>
              <ul id="submenu-1" class="collapse show" >
                <li><a href="#"><i class="fa fa-caret-right"></i> Library groups</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> libraries</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> authorized values</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> item types</a></li>

              </ul>
            </li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i> <i
                  class="fa fa-fw fa-caret-down pull-right"></i> Manage Patrons and Circulation </a>
              <ul id="submenu-2" class="collapse show">
                <li><a href="#" routerLink="/patroncategories" routerLinkActive="active"><i class="fa fa-caret-right"></i> Patron categories</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Patron attribute types</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> circulation and fines</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> item circulation alerts</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Library transfer limits</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Transport cost matrix</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Cities and towns</a></li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#submenu-3"><i class="fa fa-fw fa-star"></i> <i
                  class="fa fa-fw fa-caret-down pull-right"></i> Manage Catalog</a>
              <ul id="submenu-3" class="collapse show">
                <li><a href="#" routerLink="/marcframework" ><i class="fa fa-caret-right"></i> MARC bibliographic framework </a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> MARC bibliographic framework test</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> UBD to MARC mapping</a></li>
                <li><a href="#" routerLink="/authoritytypes" ><i class="fa fa-caret-right"></i> Authority types</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Classification sources</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Record matching</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Configure OAI sets</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Manage Item Search</a></li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#submenu-4"><i class="fa fa-fw fa-star"></i> <i
                  class="fa fa-fw fa-caret-down pull-right"></i>Set System Preferences </a>
              <ul id="submenu-4" class="collapse">

              </ul>
            </li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#submenu-5"><i class="fa fa-fw fa-star"></i> <i
                  class="fa fa-fw fa-caret-down pull-right"></i> Accounting</a>
              <ul id="submenu-5" class="collapse">


              </ul>
            </li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#submenu-6"><i class="fa fa-fw fa-star"></i> <i
                  class="fa fa-fw fa-caret-down pull-right"></i> Set Acquisition parameters </a>
              <ul id="submenu-6" class="collapse show">
                <li><a href="#"><i class="fa fa-caret-right"></i> Currency & Exchange rates</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Budgets & Funds</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Manage EDI</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Manage EANs</a></li>

              </ul>
            </li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#submenu-7"><i class="fa fa-fw fa-star"></i> <i
                  class="fa fa-fw fa-caret-down pull-right"></i> Additional Parameters </a>
              <ul id="submenu-7" class="collapse show">
                <li><a href="#"><i class="fa fa-caret-right"></i> Manage External Servers</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Plugins & Columns</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Audio & Statistics</a></li>
              </ul>
            </li>
          </ul>

        </nav>
      </div>