.client-book-card {
    padding: 1rem 1.5rem;
    width: 16rem;
}

.book-cover-image {
    display: block;
    height: 12rem;
    margin: auto;
}

.book-title, .author, .book-category {
    font-family: 'Open Sans', sans-serif;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.book-title {
    font-weight: bold;
}

.author {
    color: #a2a2a2;
    font-size: 0.8rem;
}

.book-category {
    font-weight: 600;
    font-style: italic;
}

.star-rating img {
    width: 1rem;
    margin-right: 0.25rem;
}