<div class="client-book-card">
  <img class="book-cover-image" src={{bookImageUrl}} alt="">
  <div class="book-meta">
    <div class="book-title">{{bookTitle}}</div>
    <div class="author">by {{author}}</div>
    <div class="book-category">{{bookCategory}}</div>
  </div>
  <div class="star-rating">
      <img src="../../assets/star-full.png" alt="">
      <img src="../../assets/star-full.png" alt="">
      <img src="../../assets/star-full.png" alt="">
      <img src="../../assets/star-full.png" alt="">
      <img src="../../assets/star-blank.png" alt="">
    </div>
</div>
