<p>login works!</p>

<h1> login page </h1>

<div class="container">
    <h2>Button Elements</h2>
    <a href="#" class="btn btn-info mr-2" role="button" routerLink="/admindashboard" >Admin Dashboard </a>
    <button type="button" class="btn btn-info mr-2" routerLink="/authoritytypes">Authority types</button>
    <button type="button" class="btn btn-info mr-2" routerLink="/patroncategories"> patroncategories</button>
    <button type="button" class="btn btn-info mr-2" routerLink="/patroncategories"> patroncategories</button>
    <!-- <input type="button" class="btn btn-info" value="Input Button">
    <input type="submit" class="btn btn-info" value="Submit Button"> -->
  </div>
