.client-sidebar-wrapper {
    height: 100%;
    width: max-content;
    box-shadow: 5px 5px 20px rgba(black, 0.3);
}

.sidebar-item {
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem 1rem;
}

.sidebar-item img {
    width: 1.5rem;
    margin-right: 1.2rem;
}