<div class="client-sidebar-wrapper">
    <div class="sidebar-item d-flex align-items-center">
        <img src="../../assets/speedometer.png" alt="">
        Dashboard
    </div>
    <div class="sidebar-item d-flex align-items-center">
        <img src="../../assets/book.png" alt="">
        Catalog
    </div>
    <div class="sidebar-item d-flex align-items-center">
        <img src="../../assets/study.png" alt="">
        Read a Book
    </div>
    <div class="sidebar-item d-flex align-items-center">
        <img src="../../assets/megaphone.png" alt="">
        Announcements/Notices
    </div>
    <div class="sidebar-item d-flex align-items-center">
        <img src="../../assets/person.png" alt="">
        My Account
    </div>
    <div class="sidebar-item d-flex align-items-center">
        <img src="../../assets/logout.png" alt="">
        Logout
    </div>
</div>