<div class="footer-wrapper">
    <div class="container-custom">
        <div class="recent-comments-heading">Recent Comments</div>
        <app-recentcommentscard></app-recentcommentscard>
        <app-recentcommentscard></app-recentcommentscard>
        <div class="copyright">&copy; All Rights Reserved.</div>
    </div>
    
</div>
