.footer-wrapper {
    background: url(../../assets/opac-footer-background.png) no-repeat center;
    background-size: cover;
}

.container-custom {
    margin: 0 5rem;
}

.recent-comments-heading {
    color: white;
    font-weight: bold;
    padding: 3rem 0;
}