<div class="login-form-wrapper">
    <div class="login-header">Login to your account:</div>
    <form id="opac-login-form">
      <div class="form-group">
        <label for="username" class="font-weight-bold">Username:</label>
        <input type="text" [(ngModel)] = "regData.email"  name ="email" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="password" class="font-weight-bold">Password:</label>
        <input type="password" [(ngModel)] = "regData.password" name ="password" class="form-control" id="password">
      </div>
      <button type="submit" (click) = "sumbit()" class="btn btn-primary">Log In</button>
    </form>
    <div class="login-help-links">
        <div class="forgot-password"><a >Forgot your password?</a></div>
        <div class="register-redirect">Not a member yet? Click here to <em><a>Register</a></em></div>
    </div>
</div>

