.login-form-wrapper {
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

.login-header {
    font-size: 1rem;
    font-weight: bold;
    color: #727272;
    margin: 1rem 0;
    border-bottom: 1px solid black;
}

.login-help-links div {
    margin: 0.5rem 0;
}

#opac-login-form input {
    width: 15rem;
    border-radius: 0.5rem;
}

#opac-login-form .btn-primary {
    background: linear-gradient(to bottom, #0055d3, #002e72);
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
}

#opac-login-form .form-group {
    margin: 2rem 0;
}