<app-opacheader></app-opacheader>
<div class="opachome-pagecontent container-custom d-flex justify-content-between">
  <div class="opachome-main">
    <div class="page-header">Home</div>
    <div class="page-subtitle">Welcome to Universiti Brunei Darussalam</div>
    <p>A world class university library with comprehensive information provisions to serve the needs of the teaching,
      learning and research community.</p>
    <div class="book-images-carousel d-flex">
      <img src="../../assets/book-the-birthright.png" alt="">
      <div id="middle-book">
        <img id="middle-book-img" src="../../assets/book-dove-arising.png" alt="">
        <div class="book-details">
          <div class="title-group">
            <div class="book-title">Dove Arising</div>
            <div class="book-title-line-2">(The Journal Book 1)</div>
          </div>
          <div class="author">by Karen Bao</div>
          <div class="availability">Available Now</div>
          <div class="star-rating d-flex">
            <img src="../../assets/star-full.png" alt="">
            <img src="../../assets/star-full.png" alt="">
            <img src="../../assets/star-full.png" alt="">
            <img src="../../assets/star-full.png" alt="">
            <img src="../../assets/star-blank.png" alt="">
          </div>
        </div>
      </div>
      <img src="../../assets/book-vanishing-girls.png" alt="">
    </div>
  </div>

  <app-opacsidebar class="opac-sidebar"></app-opacsidebar>
</div>
<app-opacfooter></app-opacfooter>