.container-custom {
    margin: 0 5rem;
    margin-top: 2rem;
}

.opachome-main {
    max-width: 60%;
    flex-grow: 1;
}

.opac-sidebar {
    padding-right: 2rem;
}

.page-header {
    font-weight: bold;
    color: #b61a1b;
    line-height: 2.5rem;
}

.page-subtitle {
    font-weight: bold;
    line-height: 2.5rem;
}

p {
    font-size: 1rem;
    color: black;
}

.book-images-carousel {
    margin: 5rem 0;
}

.book-images-carousel > img, .book-images-carousel > #middle-book > img {
    height: 30rem;
    box-shadow: 5px 5px 20px #727272;
}

.book-images-carousel #middle-book-img {
    transform: scale(1.2, 1.2);
}

.book-details {
    margin-top: 5rem;
    margin-left: -1rem;
}

.book-details > div {
    margin: 1rem 0;
}

.book-details .book-title, .book-title-line-2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #b61a1b;
    line-height: 2.5rem;
}

.book-details .book-title {
    text-transform: uppercase;
}

.book-details .author {
    font-size: 0.8rem;
    color: #727272;
}

.book-details .availability {
    font-size: 0.8rem;
    background: #0f9802;
    padding: 0.5rem;
    color: white;
    max-width: max-content;
    border-radius: 5px;
}

.book-details img {
    width: 1.5rem;
    padding-right: 0.25rem;
}