.header-search-wrapper {
    background-color: #e3ffd1;
    padding-top: 2rem;
}

.searchbar .form-inline {
    border: 1px solid #a0a0a0;
    border-radius: 0.25rem;
    max-width: max-content;
    max-height: max-content;
}

.searchbar .form-inline select, input, button {
    height: 2.5rem;
    font-size: 0.8rem;
    // border: 1px solid #a0a0a0;
}

.searchbar .form-inline select {
    padding: 0 1rem;
    border-radius: 0.25rem 0 0 0.25rem;
    border: none;
    background: linear-gradient(-75deg, rgba(0, 0, 0, 0.2) 5%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(0, 0, 0, 0.2) 95%);
}

.searchbar .form-inline input {
    color: #a0a0a0;
    border-radius: 0;
    min-width: 30rem;
    border: none;
}

.searchbar .form-inline button {
    border-radius: 0 0.25rem 0.25rem 0;
    background: #0f9802;
}

.searchbar .form-inline button img {
    width: 1rem;
}

.header-search-options {
    margin-top: 3rem;
}

.search-option-tab {
    background: url(../../assets/tab-background.png) no-repeat center;
    background-size: 100% 100%;
    // min-width: max-content;
    height: 3rem;
    text-align: center;
    margin: 0 0.25rem;
}

.search-option-text {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 2rem;
}