<div class="header-search-wrapper d-flex flex-column align-items-center">
    <div class="searchbar">
        <form class="form-inline d-flex align-items-center">
          <div class="input-group">
            <select name="catalog" id="catalog">
              <option value="library-catalog">Library Catalog</option>
              <option value="library-catalog">Library Catalog</option>
              <option value="library-catalog">Library Catalog</option>
            </select>
          </div>
          <div class="input-group">
            <label class="sr-only" for="search-input">Username</label>
            <input type="text" class="form-control" id="search-input" placeholder="Search here...">
          </div>
          <button type="submit" class="btn btn-primary">
            <img src="../../assets/search-icon.png" alt="">
            Search</button>
        </form>
      </div>
      <div class="header-search-options d-flex">
        <div class="search-option-tab">
          <div class="search-option-text">Advanced Search</div>
        </div>
        <div class="search-option-tab">
          <div class="search-option-text">Authority Search</div>
        </div>
        <div class="search-option-tab">
          <div class="search-option-text">Course Reserves</div>
        </div>
        <div class="search-option-tab">
          <div class="search-option-text">Tag Cloud</div>
        </div>
      </div>
</div>

