<div class="container-fluid  search-banner mt-5">
    <div class="container mt-5">
      <div class="row text-center">
        <div class="col-md-8 offset-md-2">
          <button type="button" class="btn btn-search-white"> Search System Preferences</button>
          <button type="button" class="btn btn-search-green"> Check out</button>
          <button type="button" class="btn btn-white"> Search the catalog</button>

        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="container mt-3">
            <label>Search System Preferences: </label>
            <div class="input-group ">
              <input type="text" class="form-control" placeholder="Search Here...">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
