<app-clientdashboardheader></app-clientdashboardheader>
<div class="clientdashboard-page-content d-flex">
    <app-clientdashboardsidebar></app-clientdashboardsidebar>
    <app-clientdashboardmain></app-clientdashboardmain>
</div>