
  <app-adminheader></app-adminheader>
  <div class="container-fluid  search-banner mt-5">
        <div class="container mt-5">
          <div class="row text-center">
            <div class="col-md-8 offset-md-2">
              <button type="button" class="btn btn-search-white"> Search System Preferences</button>
              <button type="button" class="btn btn-search-green"> Check Out</button>
              <button type="button" class="btn btn-white"> Search the catalog</button>
    
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="container mt-3">
                <label>Search System Preferences: </label>
                <div class="input-group ">
                  <input type="text" class="form-control" placeholder="Search Here...">
                  <span class="input-group-btn">
                    <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 p-0">
       <app-adminsidebar></app-adminsidebar>
      </div>
      <div class="col-md-9" style="background-color:white;">
        <div class="container">
        <div class="row  mt-3 align-items-center">
          <div class="col-md-9">
            <h5>Patron Categories</h5>
          </div>
          <div class="col-md-3 text-right">
              <button type="button" class="btn btn-gray"> [+] New Category</button>
          </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 offset-md-8 text-right">
                    <button type="button" class="btn btn-search-green"> <i class='fas fa-atom'></i> Columns</button>
                    <button type="button" class="btn btn-search-green"> <i class="fas fa-upload"></i> Export</button>

            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
                <div class="row mt-2">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 text-right">
                                <div class="form-group row">
                                        <div class="col-sm-3 text-center">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Search</label>
                                        </div>
                                        <div class="col-sm-5 text-right">
                                        <input type="text" matInput class="form-control" placeholder="Search Here..." (keyup)="doFilter($event.target.value)">
                                        </div>
                                        <div class="col-sm-4 text-right">
                                        <button class="btn btn-lg  mb-2" style="background-color:transparent;">
                                                <i class="fas fa-trash-alt"></i>  Clear
                                             </button>
                                        </div>
                                      
                                      </div>

                        </div>

                    </div>
                <div class="row"> 
                    <div class="col-md-12">

                 
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="categoryname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoryname  </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="enrollmentperiod">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrollment period </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>
                  <ng-container matColumnDef="agerequired">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age Required </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                      </ng-container>
                      <ng-container matColumnDef="upperagelimit">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Upper Age Limit</th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                          </ng-container>
                          <ng-container matColumnDef="enrollmentfee">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrollment Fee</th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                              </ng-container>
                              <ng-container matColumnDef="overdue">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Over due</th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="lostitems">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lost Items</th>
                                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                      </ng-container>
                          <ng-container matColumnDef="holdme">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hold me </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                              </ng-container>
                              <ng-container matColumnDef="messaging">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Messaging</th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="librarylimitations">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Library Limitations </th>
                                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                      </ng-container>



                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <div>
                <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]"
                showFirstLastButtons></mat-paginator>
            </div>
              </div>
          <!-- </div> -->
        </div><br><br>



      </div>
    </div>
  </div>
</div>
</div>
</div>
