<div class="container-fluid p-0">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <!-- Top Menu Items -->
    <ul class="nav navbar-nav side-nav">
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Patrons</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Lists</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Advanced Search</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Circulation</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Course Reserves</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Cataloging</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Serials</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Acquitions</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Authorities</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Reports</a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> <i
            class="fa fa-fw fa-caret-right pull-right"></i> Tools</a>
      </li>
    </ul>

  </nav>
</div>
