



ul li {
    list-style-type: none !important;
    text-transform: capitalize;
    padding: 14px;
    width: 280px;
    border-bottom:1px solid black;
}


.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0rem;
}
