.recent-comment-card {
    height: min-content;
    padding: 1rem;
    border-radius: 0.5rem;
    background: white;
    margin: 2rem 0;
}

.card-heading {
    margin: 1rem;
}

.comment-title {
    font-weight: bold;
    color: #b61a1b;
    line-height: 2.5rem;
}

.comment-author, .card-meta {
    font-size: 0.8rem;
    color: #727272;
    margin-left: 1rem;
}

.card-right img {
    display: block;
    max-height: 15rem;
}

.comment-text {
    font-size: 0.8rem;
    background: #fff8df;
    padding: 0.5rem;
    max-width: max-content;
    border: 1px solid #a2a2a2;
    border-radius: 0.5rem;
    margin: 2rem 1rem;
}