<div class="recent-comment-card d-flex justify-content-between">
    <div class="card-left">
        <div class="card-heading d-flex justify-content-start align-items-center">
            <div class="comment-title">Lorem Ipsum is Simply Dummy Text. /</div>
            <div class="comment-author mx-2">by Anthony, New York.</div>
          </div>
          <div class="card-meta">
              <div class="address my-2">Park City, N.Y., Journal Books, 2020, 321 p. 22 cm.</div>
              <div class="year my-2">2020</div>
          </div>
          <div class="comment-text">Good starter book. But it is not good...</div>
    </div>
  <div class="card-right"><img src="../../assets/book-dove-arising.png" alt=""></div>
</div>
