.header-wrapper {
    margin: 0 5rem;
}

.header-logo img {
    max-width: 10rem;
}

.action-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin-left: 1rem;
}

.action-icon img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.dropdown-toggle {
    background:none;
    border: none;
    color: black;
}

.action-item select {
    background: none;
    border: none;
    max-width: min-content;
}

.action-item select option {
    background: none;
}