<div class="header-wrapper container-custom d-flex justify-content-between align-items-center">
    <div class="header-logo"><img src="../../assets/logo.png" alt=""></div>
    <div class="header-action-items d-flex">
      <div class="action-item">
        <div class="action-icon"><img src="../../assets/world.png" alt=""></div>
        <div class="action-text">
          <select name="languages" id="languages">
            <option value="english">English</option>
            <option value="malay">Malay</option>
          </select>
        </div>
      </div>
      <div class="action-item">
        <div class="action-icon"><img src="../../assets/cart.png" alt=""></div>
        <div class="action-text">Cart</div>
      </div>
      <div class="action-item">
        <div class="action-icon"><img src="../../assets/list-icon.png" alt=""></div>
        <div class="action-text">
          <select name="lists" id="lists">
            <option value="lists">Lists</option>
            <option value="public-lists">Public Lists</option>
            <option value="your-lists">Your Lists</option>
          </select>
        </div>
      </div>
      <div class="action-item">
        <div class="action-icon"><img src="../../assets/history-icon.webp" alt=""></div>
        <div class="action-text">History</div>
      </div>
    </div>
  </div>