.bg-circle{
    position: relative;
    text-align: center;
    color: black;
    margin:35px;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-size:1.1rem !important;
  }
  .bg-circle img{
      // height:320px;
  }
  .card-title{
    font-weight:900;
    font-size:1.2rem;
  }
  .zoom{
    position: relative;
  }
  .image-zoom{
    height: 150px;
    position: relative;
  }
  .image-zoom1{
    height: 200px;
    position: relative;
}
  // .zoom:hover {
  //   -ms-transform: scale(1.1); /* IE 9 */
  //   -webkit-transform: scale(1.1); /* Safari 3-8 */
  //   transform: scale(1.1); 
  // }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #212529;
}
.card-text{
  margin-top:21px;
}
// .carousel-control-next, .carousel-control-prev {
//   opacity: 1;
// }
  
  