<app-adminheader></app-adminheader>
<app-adminsubheader></app-adminsubheader>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 p-0" style="background-color:#f1f1f1;">
       <app-adminsidebar></app-adminsidebar>
      </div>
      <div class="col-md-9" style="background-color:white;">
        <div class="row">
          <div class="col-md-12 mt-4">
            <h4><b>Welcome Back Andrew, </b></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="bg-circle">
              <img src="assets/book.png" alt="basic image" class="image-responsive">
              <div class="centered"><a>Define Basic Parameters</a></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-circle">
              <img src="assets/recycle.png" alt="rec2">
              <div class="centered">Manage Patrons <br> and Circulation</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-circle">
              <img src="assets/catalog.png" alt="rec2">
              <div class="centered">Manage Catalog</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-circle">
              <img src="assets/settings.png" alt="rec2">
              <div class="centered">Set System Preferences</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-circle">
              <img src="assets/accounts.png" alt="rec2">
              <div class="centered">Accounting</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-circle">
              <img src="assets/set.png" alt="rec2">
              <div class="centered">Set Acquisition Parameters</div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4">
            <div class="bg-circle">
              <img src="assets/additional.png" alt="rec2">
              <div class="centered">Additional Parameters</div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="container-fluid footer-bg">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="container-fluid yellow-bg">
          <div style="max-width: 1400px !important;" class="container">
              <div class="row">
                  <div class="col-md-12 ">
                    <h5>Upcoming Events </h5><hr>
                  </div>
                </div>
                <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner row">
                    <div class="carousel-item active col-md-12 col-sm-4 col-xs-3 col-lg-12">
                      <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
                          <img class="card-img-top" src="assets/corl1.png" alt="Card image cap">
                          <div class="card">
                            <div class="card-body">
                              <a href="#" class="card-link"><span class="card-text"> <i
                                    class="fa fa-user"></i>EXHOBZ</span></a>
                              <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                  15, 2020
                                </span></a>
                              <h4 class="card-text card-title mt-2"><b>Event 1</b></h4>
                              <p class="card-text">Some text to build on the card title and make up the bulk of
                                the card's content.</p>
                              <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                    class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                              </b>
                            </div>
      
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
      
                          <div class="card">
                            <img class="card-img-top" src="assets/corl2.png" alt="Card image cap">
                            <div class="card-body">
                              <a href="#" class="card-link"><span class="card-text"> <i
                                    class="fa fa-user"></i>EXHOBZ</span></a>
                              <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                  15, 2020
                                </span></a>
                              <h4 class="card-text card-title mt-2"><b>Event 1</b></h4>
                              <p class="card-text">Some  text to build on the card title and make up the bulk of
                                the card's content.</p>
                              <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                    class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                              </b>
                            </div>
      
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
      
                          <div class="card">
                            <img class="card-img-top" src="assets/corl3.png" alt="Card image cap">
                            <div class="card-body">
                              <a href="#" class="card-link"><span class="card-text"> <i
                                    class="fa fa-user"></i>EXHOBZ</span></a>
                              <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                  15, 2020
                                </span></a>
                              <h4 class="card-text card-title mt-2"><b>Event 1</b></h4>
                              <p class="card-text">Some text to build on the card title and make up the bulk of
                                the card's content.</p>
                              <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                    class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                              </b>
                            </div>
      
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
      
                          <div class="card">
                            <img class="card-img-top" src="assets/f3.png" alt="Card image cap">
                            <div class="card-body">
                              <a href="#" class="card-link"><span class="card-text"> <i
                                    class="fa fa-user"></i>EXHOBZ</span></a>
                              <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                  15, 2020
                                </span></a>
                              <h5 class="card-text card-title mt-2">Event 1</h5>
                              <p class="card-text">Some  text to build on the card title and make up the bulk of
                                the card's content.</p>
                              <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                    class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                              </b>
                            </div>
      
                          </div>
                        </div>
      
                      </div>
      
                    </div>
                    <div class="carousel-item col-md-12 col-sm-4 col-xs-3 col-lg-12">
                        <div class="row">
                          <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
                            <img class="card-img-top" src="assets/corl1.png" alt="Card image cap">
                            <div class="card">
                              <div class="card-body">
                                <a href="#" class="card-link"><span class="card-text"> <i
                                      class="fa fa-user"></i>EXHOBZ</span></a>
                                <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                    15, 2020
                                  </span></a>
                                <h5 class="card-text card-title mt-2">Event 1</h5>
                                <p class="card-text">Some text to build on the card title and make up the bulk of
                                  the card's content.</p>
                                <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                      class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                </b>
                              </div>
        
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
        
                            <div class="card">
                              <img class="card-img-top" src="assets/corl3.png" alt="Card image cap">
                              <div class="card-body">
                                <a href="#" class="card-link"><span class="card-text"> <i
                                      class="fa fa-user"></i>EXHOBZ</span></a>
                                <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                    15, 2020
                                  </span></a>
                                <h5 class="card-text card-title mt-2">Event 1</h5>
                                <p class="card-text">Some text to build on the card title and make up the bulk of
                                  the card's content.</p>
                                <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                      class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                </b>
                              </div>
        
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
        
                            <div class="card">
                              <img class="card-img-top" src="assets/corl2.png" alt="Card image cap">
                              <div class="card-body">
                                <a href="#" class="card-link"><span class="card-text"> <i
                                      class="fa fa-user"></i>EXHOBZ</span></a>
                                <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                    15, 2020
                                  </span></a>
                                <h5 class="card-text card-title mt-2">Event 1</h5>
                                <p class="card-text">Some text to build on the card title and make up the bulk of
                                  the card's content.</p>
                                <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                      class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                </b>
                              </div>
        
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
        
                            <div class="card">
                              <img class="card-img-top" src="assets/f3.png" alt="Card image cap">
                              <div class="card-body">
                                <a href="#" class="card-link"><span class="card-text"> <i
                                      class="fa fa-user"></i>EXHOBZ</span></a>
                                <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                    15, 2020
                                  </span></a>
                                <h5 class="card-text card-title mt-2">Event 1</h5>
                                <p class="card-text">Some text to build on the card title and make up the bulk of
                                  the card's content.</p>
                                <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                      class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                </b>
                              </div>
        
                            </div>
                          </div>
        
                        </div>
        
                      </div>
                      <div class="carousel-item col-md-12 col-sm-4 col-xs-3 col-lg-12">
                          <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
                              <img class="card-img-top" src="assets/corl1.png" alt="Card image cap">
                              <div class="card">
                                <div class="card-body">
                                  <a href="#" class="card-link"><span class="card-text"> <i
                                        class="fa fa-user"></i>EXHOBZ</span></a>
                                  <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                      15, 2020
                                    </span></a>
                                  <h5 class="card-text card-title mt-2">Event 1</h5>
                                  <p class="card-text">Some text to build on the card title and make up the bulk of
                                    the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                        class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                </div>
          
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
          
                              <div class="card">
                                <img class="card-img-top" src="assets/corl3.png" alt="Card image cap">
                                <div class="card-body">
                                  <a href="#" class="card-link"><span class="card-text"> <i
                                        class="fa fa-user"></i>EXHOBZ</span></a>
                                  <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                      15, 2020
                                    </span></a>
                                  <h5 class="card-text card-title mt-2">Event 1</h5>
                                  <p class="card-text">Some text to build on the card title and make up the bulk of
                                    the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                        class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                </div>
          
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
          
                              <div class="card">
                                <img class="card-img-top" src="assets/corl2.png" alt="Card image cap">
                                <div class="card-body">
                                  <a href="#" class="card-link"><span class="card-text"> <i
                                        class="fa fa-user"></i>EXHOBZ</span></a>
                                  <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                      15, 2020
                                    </span></a>
                                  <h5 class="card-text card-title mt-2">Event 1</h5>
                                  <p class="card-text">Some text to build on the card title and make up the bulk of
                                    the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                        class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                </div>
          
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3 mb-3">
          
                              <div class="card">
                                <img class="card-img-top" src="assets/f3.png" alt="Card image cap">
                                <div class="card-body">
                                  <a href="#" class="card-link"><span class="card-text"> <i
                                        class="fa fa-user"></i>EXHOBZ</span></a>
                                  <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April
                                      15, 2020
                                    </span></a>
                                  <h5 class="card-text card-title mt-2">Event 1</h5>
                                  <p class="card-text">Some text to build on the card title and make up the bulk of
                                    the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span
                                        class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                </div>
          
                              </div>
                            </div>
          
                          </div>
          
                        </div>
                  
      
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div> -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row ml-1 mr-1">
                          <div class="col-md-3 zoom mt-5">
                            <div class="image-zoom">
                              <img  class="card-img-top" src="assets/c1.jpeg" alt="Card image cap">
                            </div>
                              <div class="card ml-2 mr-2">
                                  <div class="card-body ">
                                      <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                      <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                        </span></a>
                                    <h5 style="color:rgb(17, 85, 204);" class="card-text card-title mt-2">Event 1</h5>
                                    <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                  </div>
                                 
                              </div>
                          </div>
                          <div class="col-md-3 zoom mt-5">
                            <div class="image-zoom">
                              <img  class="card-img-top" src="assets/c2.jpeg" alt="Card image cap">
                            </div>
                              <div class="card ml-2 mr-2">
                                  <div class="card-body ">
                                      <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                      <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                        </span></a>
                                    <h5 class="card-text card-title mt-2">Event 2</h5>
                                    <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                  </div>
                                 
                                </div>
                          </div>
                          <div class="col-md-3 zoom mt-5">
                            <div class="image-zoom">
                              <img  class="card-img-top" src="assets/c3.jpeg" alt="Card image cap">
                            </div>
                              <div class="card ml-2 mr-2">
                                  <div class="card-body ">
                                      <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                      <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                        </span></a>
                                    <h5 class="card-text card-title mt-2">Event 3</h5>
                                    <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                  </div>
                                 
                                </div>
                          </div>
                          <div class="col-md-3 mb-3 zoom">
                            <div class="image-zoom1">
                              <img  class="card-img-top" src="assets/c4.jpeg" alt="Card image cap">
                            </div>
                              <div class="card ml-2 mr-2">
                                  <div class="card-body ">
                                      <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                      <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                        </span></a>
                                    <h5 class="card-title mt-2 mb-2">Event 4</h5>
                                    <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                  <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                  </b>
                                  </div>
                                 
                                </div>
                          </div>
                    
                         
                        </div>
                      
                      </div>
                      <div class="carousel-item">
                          <div class="row ml-1 mr-1">
                              <div class="col-md-3 zoom mt-5">
                                <div class="image-zoom">
                                  <img  class="card-img-top" src="assets/c1.jpeg" alt="Card image cap">
                                </div>
                                  <div class="card ml-2 mr-2">
                                      <div class="card-body ">
                                          <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                          <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                            </span></a>
                                        <h5 style="color:rgb(17, 85, 204);" class="card-text card-title mt-2">Event 1</h5>
                                        <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                      <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                      </b>
                                      </div>
                                     
                                  </div>
                              </div>
                              <div class="col-md-3 zoom mt-5">
                                <div class="image-zoom">
                                  <img  class="card-img-top" src="assets/c2.jpeg" alt="Card image cap">
                                </div>
                                  <div class="card ml-2 mr-2">
                                      <div class="card-body ">
                                          <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                          <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                            </span></a>
                                        <h5 class="card-text card-title mt-2">Event 2</h5>
                                        <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                      <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                      </b>
                                      </div>
                                     
                                    </div>
                              </div>
                              <div class="col-md-3 zoom mt-5">
                                <div class="image-zoom">
                                  <img  class="card-img-top" src="assets/c3.jpeg" alt="Card image cap">
                                </div>
                                  <div class="card ml-2 mr-2">
                                      <div class="card-body ">
                                          <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                          <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                            </span></a>
                                        <h5 class="card-text card-title mt-2">Event 3</h5>
                                        <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                      <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                      </b>
                                      </div>
                                     
                                    </div>
                              </div>
                              <div class="col-md-3 mb-3 zoom">
                                <div class="image-zoom1">
                                  <img  class="card-img-top" src="assets/c4.jpeg" alt="Card image cap">
                                </div>
                                  <div class="card ml-2 mr-2">
                                      <div class="card-body ">
                                          <a href="#" class="card-link"><span class="card-text"> <i class="fa fa-user"></i>EXHOBZ</span></a>
                                          <a href="#" class="card-link"><span class="card-text"> <i class='fas fa-calendar-alt'></i>April 15, 2020
                                            </span></a>
                                        <h5 class="card-title mt-2 mb-2">Event 4</h5>
                                        <p class="card-text">Some to build on the card title and make up the bulk of the card's content.</p>
                                      <b class="card-text" style="display:inline-block"><a href="#" class="card-link"><span class="card-text">Readmore <i class='fas fa-arrow-right'></i></span></a>
                                      </b>
                                      </div>
                                     
                                    </div>
                              </div>
                        
                             
                            </div>
                      </div>
                  
                 
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
          </div>

       
           
        </div>


      </div>
      <div class="col-md-12 text-center mt-3">
          <div class="copyright">
            <p> <a href="" title="tradala"> © All rights Received Designed by </a>   <a href="https://tradala.tech/" title="tradala">Tradala Trade Private Limited </a> </p>
          </div>
        </div>
    </div>
   
  </div>