.btn-gray{
    background-color:#898989;
    border-color:#898989;
    color:white;
    margin:  10px;
    font-weight:700;
}
.btn-grey-out{
    background-color: #f1f1f1;
    border-color: darkgrey;
    color: darkslategrey;
}

.col-form-label-sm {
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
    font-size: 1.3rem;
    line-height: 1.5;
}

.mat-form-field-hide-placeholder .mat-select-placeholder {
    color: red !important;
    -webkit-text-fill-color: red !important;
    transition: none;
    display: block;
}
th.mat-header-cell {
    text-align: left;
    color: black;
    font-size: 14px;
}
.mat-elevation-z8 {
 box-shadow: none;
}
.mat-row:nth-child(odd){
    background-color:#f2f2f2;
    }
 .dropdown-menu.show {
    display: block;
    transform: translate3d(-130px, 37px, 0px) !important;
    width: 180px;
    padding: 4px 10px;
    }


table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }