/*
    DEMO STYLE
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700";

@import '~ngx-toastr/toastr';
 
// bootstrap style toast 
// or import a bootstrap 4 alert styled design (SASS ONLY) 
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions 

 
// if you'd like to use it without importing all of bootstrap it requires 


// body {
//     font-family: 'Poppins', sans-serif;
//     background: #fafafa;
// }

p {
    font-family: 'Lato', Montserrat ;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    color: black;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: red;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 16px;
    display: block;
    font-weight:600;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    font-weight:600;
}


a[data-toggle="collapse"] {
    position: relative;
    font-weight:600;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: red !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

/*  side bar code*/
/* change the background color */
.navbar-custom {
    background-color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F827F6;
    padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    /* padding: 1rem 1rem; */
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background-color:#0f9802;
    color:black;
    border-color:#5dbd4f; /* add background-color to active links */
}.navbar-custom {
    background-color:#0f9802;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
    // color:white;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #0f9802;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}



 /*  tradala code*/

li.nav-item .nav-link  a{
    color:black;
}

i{
    padding-right: 10px 15px;
}
a{
    color:black;
}
.search-banner{
    padding: 1.5rem 1rem;
    background-color: #e3fed1;
    border-bottom: 1px solid gray;
}
.btn-search{
    background-color:#0f9802;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color:#5dbd4f;
}
.btn-search-green{
    background-color:#0f9802;
    color:black;
    border-color:#5dbd4f;
    margin:  10px;
}
.btn-search-white{
    background-color:#0f9802;
    border-color:#5dbd4f;
    color:white;
    margin:  10px;
}
.btn-white{
    background-color: white;
    color:black;
    margin:  10px;
}
.bg-circle{
    position: relative;
    text-align: center;
    color: black;
    margin:50px auto;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  .bg-circle img{
      height:250px;
  }
  ul li{
    list-style-type: none !important;
    text-transform:capitalize;
    // padding: 3px 3px;
    padding: 8px 4px;
  }
  .fa-star{
      display:none;
  }
  .navbar-nav .side-nav {
      padding:1rem;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color: green;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: green;
    border: 1px solid green;
    border-radius: .25rem;
}
.footer-bg{
    background-image: url(assets/fbg.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    height:auto;
    background-size: cover;
    padding-top: 70px;
}
.yellow-bg{
    background-color: #f4c019;
    opacity:0.85;
    height:auto;
    padding:30px 0px;
    /* margin: 30px 0px; */
}
.fa, .fas {
    font-weight: 900;
    padding-right: 10px;
}
.card-text{
    font-size: 13px;
}
.carousel-control-next-icon {
    background-image: url(assets/right.png);
    background-position: top center;
    background-repeat: no-repeat;
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' …%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e); */
}
.carousel-control-prev-icon {
    background-image: url(assets/left.png);
    background-position: top center;
    background-repeat: no-repeat;
}
.carousel-control-prev {
    left: -65px;
}
.carousel-control-next {
    right: -65px;
}


.carousel-control-next, .carousel-control-prev{
    width: 5%;
    opacity: 1;
}

/* .carousel-control-prev {
    left: -25px !important;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Lato"; }
