<div class="authority-search-wrapper">
  <div class="authority-search-header">Authority Search</div>
  <form id="authority-search-form">
    <div class="form-group d-flex align-items-center">
      <label for="authority-type">Authority Type:</label>
      <select class="form-control" id="authority-type">
        <option>Default</option>
        <option>One</option>
        <option>Two</option>
        <option>Three</option>
      </select>
    </div>
    <div class="form-group d-flex align-items-center">
      <label for="search-options">Search Options:</label>
      <select class="form-control" id="search-options">
        <option>is exactly</option>
        <option>contains</option>
        <option>does not contain</option>
      </select>
    </div>
    <div class="form-group d-flex align-items-center">
        <label for="terms">Term(s):</label>
        <input id="terms" class="form-control" type="text">
      </div>
      <div class="form-group d-flex align-items-center">
        <label for="search-where">Where:</label>
        <select class="form-control" id="search-where">
          <option>in any heading</option>
          <option>in tags</option>
          <option>in whole text</option>
        </select>
      </div>
      <div class="form-group d-flex align-items-center">
        <label for="order-by">Order by:</label>
        <select class="form-control" id="order-by">
          <option>None</option>
          <option>Authority</option>
          <option>Heading</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
