.authority-search-header {
    font-size: 1rem;
    font-weight: bold;
    color: #727272;
    margin: 1rem 0;
    border-bottom: 1px solid black;
}

#authority-search-form {
    font-size: 0.8rem;
    margin: 2.5rem 0;
}

#authority-search-form select, input {
    width: 50%;
    margin-right: 2rem;
    font-size: 0.8rem;
}

#authority-search-form label {
    margin-right: 1rem;
    margin-bottom: 0;
    text-align: right;
    flex-grow: 1;
}

#authority-search-form .btn-primary {
    text-transform: uppercase;
    display: block;
    margin: auto;
    background: linear-gradient(to bottom, #7fce02, #1b7600);
    border: 1px solid #1b7600;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}