.client-header-wrapper {
    background: url(../../assets/library-rack-background.png);
}

.header-logo-wrapper img {
    height: 3rem;
}

.action-item {
    height: 2rem;
    margin-left: 1rem;
}

.action-item select {
    color: white;
    background: none;
    border: none;
    margin-left: 0.5rem;
}

#language * {
    background: rgba($color: green, $alpha: 1);
}

.action-item img {
    max-height: 1.2rem;
}

.green-overlay {
    background: rgba($color: green, $alpha: 0.7);
    padding: 1rem 1rem 1rem 1rem;
}

.profile-wrapper {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: url(../../assets/client-profile-pic.png) no-repeat center;
    background-size: cover;
}

.notification-dot {
    background: #fa3e3e;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 1.8rem;
    right: 6rem;
}