<div class="client-header-wrapper">
    <div class="green-overlay d-flex justify-content-between align-items-center">
        <div class="header-logo-wrapper"><img src="../../assets/Logo-white.png" alt="Logo"></div>
        <div class="header-action-items d-flex align-items-center">
            <div class="action-item">
                <img src="../../assets/us-flag.png" alt="">
                <select name="language" id="language">
                    <option value="english">
                        English
                    </option>
                    <option value="malay">
                        <img src="" alt="">
                        Malay
                    </option>
                </select>
            </div>
            <div class="action-item">
                <img src="../../assets/bell.png" alt="notification">
                <span class="notification-dot"></span>
            </div>
            <div class="action-item">
                <img src="../../assets/menu.png" alt="grid">
            </div>
            <div class="action-item">
                <div class="profile-wrapper">
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
