
<div class="client-main-wrapper">
  <div class="greeting-wrapper">
    <h1>Welcome back, Michael!</h1>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its layout.</p>
  </div>
  <div class="main-content-wrapper">
    <div class="search-filter-wrapper">
      
    </div>
    <app-clientbookscarousel carouselTitle="Continue Reading"></app-clientbookscarousel>
    <app-clientbookscarousel carouselTitle="Catalogs"></app-clientbookscarousel>
    <app-clientbookscarousel carouselTitle="Favorites"></app-clientbookscarousel>
  </div>
</div>
